{% extends 'base.html' %}
{% block content %}
<div class="level">
    <div class="level-left">
        <div class="level-item"><h1 class="title">Saídas</h1></div>
    </div>
    <div class="level-right">
        <div class="level-item"><a class="button is-primary" href="{% url 'saida:new_saida' %}">Novo</a></div>
    </div>
</div>

<div class="box">
    <table class="table is-fullwidth is-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Produto</th>
                <th>Preço</th>
                <th>Quantidade</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for saida in saidas %}
            <tr>
                <td>{{ saida.id }}</td>
                <td>{{ saida.produto }}</td>
                <td>{{ saida.preco }}</td>
                <td>{{ saida.quantidade }}</td>
                <td>
                    <div class="buttons">
                        <a class="button is-primary" href="{% url 'saida:update_saida' saida.id %}">Alterar</a>
                        <a class="button is-danger" href="{% url 'saida:delete_saida' saida.id %}">Deletar</a>
                    </div>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}