{% extends 'base.html' %}
{% block content %}
<div class="level">
  <div class="level-left">
    <div class="level-item"><h1 class="title is-2 has-text-grey-dark">Produtos</h1></div>
  </div>
  <div class="level-right">
    <div class="level-item"><a class="button is-primary" href="{% url 'produto:new_produto' %}">Novo</a></div>
  </div>
</div>

<div class="box">
  <table class="table is-fullwidth is-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Produto</th>
        <th>Cor</th>
        <th>Preço</th>
        <th>Quantidade</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      {% for produto in produtos %}
      <tr>
        <td>{{ produto.id }}</td>
        <td>{{ produto.produto }}</td>
        <td>{{ produto.cor }}</td>
        <td>{{ produto.preco }}</td>
        <td>{{ produto.quantidade }}</td>
        <td>
          <div class="buttons">
            <a class="button is-primary" href="{% url 'produto:update_produto' produto.id %}">Alterar</a>
            <a class="button is-danger" href="{% url 'produto:delete_produto' produto.id %}">Deletar</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}