{% extends 'base.html' %}
{% block content %}
  <h2 class="title is-2 has-text-grey-dark">Excluir Entrada</h2>
  <div class="box">
    <form method="post">
      {% csrf_token %}
      <p class="title is-3 has-text-grey-dark">Tem certeza que deseja excluir esta entrada?</p>
      <div class="field is-grouped">
        <div class="control">
          <button type="submit" class="button is-danger">Excluir</button>
        </div>
        <div class="control">
          <a class="button" href="{% url 'entrada:list_entrada' %}">Cancelar</a>
        </div>
      </div>
    </form>
  </div>
{% endblock %}